.sidebar-lg-show .sidebar {
    width: 250px!important;
}
.sidebar-lg-show .sidebar .nav {
    width: 250px!important;
}
.sidebar-lg-show .sidebar-nav {
    width: 250px!important;
}
.app-body .sidebar-lg-show .sidebar {
    flex: 0 0 250px;
    order: -1;
}
.app-header .navbar-brand {
    width: 200px;
}
